.logo {
    width: 150px;
    height: 50px;
    margin: 6 10 0 0;
}

div.tabs-content.carousel {
    height: 600px !important;
}

#tabletennis-register .btn {
    margin-bottom: 50px;
}

.match-text {
    font-size: 1.5rem;
    padding: 10 0 10 0;
}

.restaurant-column {
    font-family: cursive;
}

.table-cell {
    display: table-cell;
}

.vertical-middle {
    vertical-align: middle;
}